@media screen and (min-width: 992px) {
    .hide-on-pc {
        display: none;
    }

    .header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .testimonal-card__list {
        column-gap: 100px;
    }

    .testimonal-card__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 991.98px) {
    .emoji {
        transform: translate(0);
    }

    .toggle-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 4px;
        margin-left: 10px;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid rgba(93, 59, 238, 0.2);
    }

    .header-body {
        border-bottom: 1px solid #d6d3e2;
        padding: 0 20px 16px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 3;
        transform: translateX(-100%);
        transition: 0.5s ease;
        padding: 60px;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        font-weight: 500;
        padding: 14px 0;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .hero {
        padding-top: 50px;
    }

    .hero__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero__right {
        order: 1;
    }

    .hero__decor-left {
        left: auto;
    }

    .company__inner {
        flex-direction: column;
        align-items: center;
    }

    .company__list {
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
    }

    .service {
        padding: 0 20px;
    }

    .service__item {
        padding-left: 50px;
        padding-right: 50px;
    }

    .service__heading {
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .service__desc {
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .work-top {
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .work__list {
        grid-template-columns: 1fr;
    }

    .testimonal__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 0 20px;
    }

    .gallery-item__img {
        width: 352px;
        height: 503px;
    }

    .gallery__dots {
        display: flex;
        justify-content: center;
    }

    .cta {
        margin-top: 120px;
        overflow: hidden;
        padding: 36px 0;
    }

    .footer-top__inner {
        flex-direction: column;
    }

    .footer-top__inner .emoji {
        order: 1;
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .footer-top__inner .contact {
        order: 3;
        margin-top: 64px;
    }

    .footer-top__inner .logo {
        width: 46px;
        height: 46px;
    }

    .footer__contact-email {
        display: inline-flex;
    }

    .footer-top__inner .navbar__link {
        font-size: 1.6rem;
        padding: 8px 19px;
    }

    .footer-bottom__content {
        flex-direction: column-reverse;
    }

    .footer-bottom__content-right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 29px;
        border-bottom: 1px solid rgba(12, 7, 32, 0.2);
        margin: 64px 0 0;
    }

    .footer-bottom__copyright {
        margin: 20px auto 29px;
    }

    .gallery-list {
        overflow: hidden;
    }

    .gallery-item {
        width: 352px;
        height: 503px;
        flex: 0 0 auto;
    }

    .show-on-pc,
    .hero__decor-right,
    .col:nth-of-type(2),
    .col:nth-of-type(3),
    .cta__decor-left,
    .cta__decor-right,
    .footer-bottom__break {
        display: none;
    }

    .toggle-menu::before,
    .toggle-menu::after {
        content: "";
        display: inline-block;
        width: 23px;
        height: 2px;
        border-radius: 99px;
        background-color: rgba(93, 59, 238, 1);
    }

    .hero__left,
    .footer-top__inner .navbar {
        order: 2;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .emoji {
        width: 50px;
        height: 64px;
        object-fit: cover;
    }

    .testimonal-card__list {
        column-gap: 50px;
    }
}

@media screen and (max-width: 767.98px) {
    .contact__email {
        display: none;
    }

    .emoji {
        width: 37px;
        height: 44px;
    }

    .hero__heading {
        width: 260px;
        font-size: 4.2rem;
        line-height: 1.19;
    }

    .logo,
    .toggle-menu {
        width: 32px;
        height: 32px;
    }

    .hero__right {
        padding: 0 20px;
    }

    .hero__row {
        margin: 25px 0 20px;
    }

    .hero__desc {
        font-size: 1.6rem;
        width: 318px;
        line-height: 1.63;
    }

    .hero__cta-link {
        font-size: 1.6rem;
        line-height: 1.88;
    }

    .hero__cta-btn {
        font-size: 1.6rem;
        width: 147px;
        height: 55px;
    }

    .hero__text {
        font-size: 1.4rem;
    }

    .social__item {
        width: 31px;
        height: 31px;
    }

    .hero__left-img-wrap {
        width: 259px;
        height: 355px;
        object-fit: cover;
    }

    .hero__decor-left {
        max-width: 100%;
        max-height: 402.15px;
        object-fit: cover;
    }

    .company__review {
        margin-left: auto;
        margin-right: auto;
        font-size: 2.8rem;
        line-height: 1.21;
        width: 169px;
        text-align: center;
    }

    .company {
        margin-top: 120px;
        padding: 0 27px;
    }

    .company__inner {
        align-items: initial;
    }

    .company__review::before {
        top: 0;
        left: 50%;
        translate: -50%;
        width: 48px;
    }

    .company__list {
        column-gap: 0;
        width: 100%;
    }

    .service {
        margin-top: 120px;
    }

    .service__item-title {
        font-size: 2.8rem;
        line-height: 1.29;
    }

    .service__desc {
        width: 350px;
    }

    .works {
        margin-top: 120px;
        padding-top: 69px;
        padding-bottom: 60px;
    }

    .work-top__desc {
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .work__item-title {
        font-size: 2.4rem;
        line-height: 1.42;
    }

    .work__item-desc {
        width: 176px;
        font-size: 1.4rem;
        line-height: 1.43;
        margin: 0;
    }

    .work__item-media-img {
        width: 122px;
        height: 93px;
    }

    .work__cta-btn-wrap {
        margin-top: 50px;
    }

    .about-top {
        margin-top: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-top__icon {
        width: 18px;
        height: 18px;
    }

    .about-top__desc {
        font-size: 1.6rem;
        line-height: 1.63;
        width: 350px;
    }

    .about-highlight__list {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .about-highlight__item-number {
        font-size: 3rem;
        line-height: 1.4;
    }

    .about-highlight__item-desc {
        width: 74px;
        font-size: 1.6rem;
        line-height: 1.38;
    }

    .about__intro-play-block {
        width: 77px;
        height: 77px;
    }

    .about__intro-play-icon {
        width: 10.41px;
        height: 12.49px;
    }

    .about__intro-cta {
        min-width: 118px;
        --height: 44px;
        font-size: 1.2rem;
    }

    .testimonal {
        padding: 121px 0 67px;
    }

    .testimonal__desc {
        width: 100%;
        margin-bottom: 40px;
        font-size: 1.6rem;
        line-height: 1.63;
        padding: 0 20px;
    }

    .testimonal-card__list {
        column-gap: 100px;
    }

    .testimonal-card__desc {
        width: 350px;
        font-size: 1.8rem;
        line-height: 1.67;
        margin-bottom: 48px;
    }

    .faq__heading {
        width: 316px;
        font-size: 3.6rem;
        line-height: 1.17;
        padding: 0 20px;
    }

    .faq-list {
        margin-top: 42px;
        padding: 0 10px;
    }

    .faq-item {
        padding: 0 0 15px 10px;
    }

    .faq-item__title {
        width: 264px;
        font-size: 2.4rem;
        line-height: 1.25;
    }

    .faq-item__desc {
        font-size: 1.6rem;
        line-height: 1.63;
        width: 316px;
    }

    .faq-item__check-label {
        width: 33px;
        height: 33px;
    }

    .faq-item__check-label::before,
    .faq-item__check-label::after {
        width: 9px;
        height: 2px;
    }

    .gallery-list {
        justify-content: center;
        column-gap: 100px;
    }

    .cta__emoji {
        width: 48px;
        height: 48px;
    }

    .cta__heading {
        margin-top: 10px;
        width: 225px;
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .cta__btn {
        margin-top: 30px;
        min-width: 147px;
        --height: 55px;
        font-size: 1.6rem;
    }

    .service__item-desc,
    .work__item-guide {
        font-size: 1.6rem;
        line-height: 1.75;
    }

    .work__list,
    .about {
        padding-left: 20px;
        padding-right: 20px;
    }

    .work-top__heading,
    .about-top__heading,
    .testimonal__heading,
    .gallery__heading {
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .about-top__greeting-text,
    .gallery__link {
        font-size: 2rem;
        line-height: 2;
    }

    .gallery__desc,
    .cta__desc {
        width: 350px;
        font-size: 1.6rem;
        line-height: 1.63;
    }
}
