* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

input,
select,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
}

/* ================Common================ */
.content {
    max-width: 1330px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -0.04em;
}

.section-desc {
    width: 570px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.btn {
    display: inline-flex;
    justify-content: center;
    min-width: 170px;
    --height: 62px;
    background: #5d3bee;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--height); /* 166.667% */
}

.btn:hover {
    opacity: 0.9;
}

/* ================Header================ */
.header {
    padding-top: 20px;
    background-color: #fbfaff;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
}

.contact__email {
    position: relative;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
}

.contact__email::after {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #080415;
}

.emoji {
    width: 100px;
    height: 100px;
    transform: translateX(calc(50% + 21.5px));
}

.navbar__list {
    display: flex;
    margin-right: -21.5px;
}

.navbar__link {
    color: #51586a;
    padding: 8px 21.5px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3;
}

.navbar__link:hover {
    text-decoration: underline;
}

/* ===================Hero==================== */
.hero {
    position: relative;
    background: #fbfaff;
}

.hero__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__left-img-wrap {
    width: 514px;
    height: 705px;
}

.hero__left-img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.hero__right {
    width: 500px;
}

.hero__heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95; /* 95% */
    letter-spacing: -0.04em;
}

.hero__desc {
    margin: 20px 0 50px;
    color: #51586a;
    font-size: 1.8rem;
    width: 370px;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__cta-link {
    margin-left: 30px;
    position: relative;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
}

.hero__cta-link::after {
    position: absolute;
    display: inline-block;
    bottom: 3px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #080415;
}

.hero__row {
    margin-top: 104px;
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
}

.hero__text {
    color: #51586a;
    font-weight: 500;
    line-height: 1.88; /* 187.5% */
}

.social__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.social__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

.hero__decor-left,
.hero__decor-right {
    position: absolute;
    z-index: 0;
}

.hero__decor-left {
    bottom: 0;
    left: -192px;
}

.hero__decor-right {
    bottom: 0;
    right: 0;
}

/*================Company=================*/
.company {
    margin-top: 98px;
}

.company__inner {
    display: flex;
    justify-content: space-between;
}

.company__review {
    margin: 13px 0 0 127.5px;
    position: relative;
    width: 253px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19; /* 119.048% */
    letter-spacing: -0.04em;
}

.company__review::before {
    position: absolute;
    top: 22px;
    left: -99px;
    content: "";
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
    display: inline-block;
}

.company__list {
    margin-right: -70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 36px;
    row-gap: 34px;
}

.company__item {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.company__item-name {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04em;
}

.company__item-logo-wrap {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fbfaff;
}

.company__item:nth-of-type(3) .company__item-logo-wrap {
    background: #fee101;
}

.company__item:nth-of-type(4) .company__item-logo-wrap {
    background: #f00;
}

.company__item:nth-of-type(5) .company__item-logo-wrap {
    background: #14a800;
}

.company__item:nth-of-type(6) .company__item-logo-wrap {
    background: #fff;
}

.company__item:nth-of-type(7) .company__item-logo-wrap {
    background: #7f54b3;
}

/* =================Service================= */
.service {
    margin-top: 133px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin: 20px auto 0;
    max-width: 534px;
}

.service__list {
    margin-top: 60px;
}

.service__item {
    padding: 32px 43px;
    background: #fbfaff;
}

.service__item-img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.05);
}

.service__item:nth-of-type(1) .service__item-img {
    transform: translateY(9%);
}

.service__item:nth-of-type(2) .service__item-img {
    transform: translateY(14%);
}

.service__item:nth-of-type(3) .service__item-img {
    transform: translate(-6%, 14%);
}

.service__item-title {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04em;
}

.service__item-desc {
    margin-top: 15px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

/* ====================Works=============== */
.works {
    margin-top: 140px;
    padding: 86px 0;
    background: #5d3bee;
}

.work-top {
    width: 998px;
    display: flex;
    justify-content: space-between;
}

.work-top__heading {
    width: 468px;
    color: #fff;
}
.work-top__heading-break {
    display: block;
}

.work-top__desc {
    margin: 31px 0 11px;
    width: 370px;
    color: rgba(255, 255, 255, 0.7);
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.work__item {
    position: relative;
    padding: 24px 23px 23px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fbfaff;
}

.work__item::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    content: url(../img/work-decor.png);
}

.work__item-title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04em;
}

.work__item-desc {
    margin: 10px 0 20px;
    width: 220px;
    color: #51586a;
    font-weight: 400;
    line-height: 1.44; /* 143.75% */
}

.work__item-guide {
    position: relative;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
}

.work__item-guide::after {
    position: absolute;
    display: inline-block;
    bottom: 3px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #080415;
}

.work__item-media-img {
    width: 246px;
    height: 187px;
    position: relative;
    z-index: 2;
}

.work__cta-btn-wrap {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.work__cta-btn {
    background: #fff;
    color: #080415;
}

/* ===============About============ */
.about {
    margin-top: 140px;
}

.about-top {
    width: 570px;
    margin: 0 auto;
    text-align: center;
}

.about-top__greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
}

.about-top__greeting-text {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04em;
}

.about-top__heading {
    margin: 10px 0 15px;
}

.about-highlight__list {
    border: 1px solid rgba(8, 4, 21, 0.2);
    border-left: none;
    border-right: none;
    margin-top: 70px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-highlight__item {
    display: flex;
    flex-direction: column;
}

.about-highlight__item-number {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.36; /* 135.714% */
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    text-underline-offset: 6px;
}

.about-highlight__item-desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.about__intro {
    position: relative;
    margin-top: 70px;
}

.about__intro-video {
    width: 100%;
    height: 100%;
}

.about__intro-play-block {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.about__intro-cta {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #fff;
    color: rgba(81, 88, 106, 1);
}

/* =================Testimonal================ */
.testimonal {
    position: relative;
    background: #fbfaff;
    padding: 150px 0 74px;
}

.testimonal__inner {
    margin: 0 auto;
    padding: 0 245.5px;
    text-align: center;
}

.testimonal__desc {
    margin: 20px auto 60px;
}

.testimonal-card__list {
    display: flex;
    overflow: hidden;
}

.testimonal-card__item {
    flex-shrink: 0;
}

.testimonal-card__desc {
    width: 679px;
    margin-bottom: 36px;
    color: #51586a;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.testimonal-card__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15.17px;
}

.testimonal-card__avatar-block {
    position: relative;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    width: 39.833px;
    height: 39.833px;
    border-radius: 50%;
    background-color: rgba(242, 151, 100, 1);
    overflow: hidden;
}

.testimonal-card__avatar {
    width: 100%;
}

.testimonal-card__name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
}

.testimonal-card__job {
    margin-top: 3px;
    color: #51586a;
    font-weight: 400;
    line-height: 1.81; /* 181.25% */
}

.testimonal-card__profile {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

.dots {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-top: 40px;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(8, 4, 21, 0.2);
}

.dot--active {
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(93, 59, 238, 1);
}

.dot--active::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(93, 59, 238, 1);
}

.testimonal-decor-left,
.testimonal-decor-right {
    position: absolute;
}

.testimonal-decor-left {
    bottom: 0;
    left: 0;
}

.testimonal-decor-right {
    bottom: 0;
    right: 0;
}

/* ===================Faq================= */
.faq {
    margin-top: 95px;
}

.faq__inner {
    max-width: 1010px;
}

.faq__heading {
    max-width: 575px;
}

.faq-list {
    margin-top: 80px;
}

.faq-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    border-bottom: 2px solid #08182f;
    padding: 0 0 11px 22px;
}

.faq__check {
    display: none;
}

.faq__check:checked + .faq-item__content .faq-item__title {
    color: #5d3bee;
}

.faq-item:has(.faq__check:checked) {
    border-color: #5d3bee;
}

.faq__check:checked + .faq-item__content .faq-item__desc {
    position: relative;
    margin: 23px 0 10px;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.faq-item:has(.faq__check:checked) .faq-item__check-label::before {
    background: #5d3bee;
}

.faq-item:has(.faq__check:checked) .faq-item__check-label::after {
    display: none;
}

.faq-item:last-child {
    margin: 0;
}

.faq-item__title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04em;
    transition: 0.5s ease-in-out;
}

.faq-item__check-label {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(22, 26, 28, 0.2);
    cursor: pointer;
}

.faq-item__check-label::before {
    content: "";
    width: 14px;
    height: 2px;
    background: rgba(22, 26, 28, 1);
}

.faq-item__check-label::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background: rgba(22, 26, 28, 1);
    rotate: 90deg;
}

.faq-item__desc {
    position: absolute;
    visibility: hidden;
    width: 487px;
    opacity: 0;
}

/* ================Gallery==================== */
.gallery {
    margin-top: 160px;
}

.gallery__heading,
.gallery__desc {
    text-align: center;
}

.gallery__desc {
    width: 528px;
    margin: 20px auto 0;
}

.gallery__link {
    position: relative;
    left: 50%;
    translate: -50%;
    display: inline-block;
    margin-top: 30px;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -0.04em;
}

.gallery__link::after {
    position: absolute;
    display: inline-block;
    bottom: 4px;
    left: 0;
    content: "";
    width: 100%;
    height: 1.5px;
    background: #5d3bee;
}

.gallery-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.gallery-item__img {
    width: 370px;
    height: 529px;
    object-fit: cover;
}

/* ==================Cta================ */
.cta {
    position: relative;
    max-width: 1330px;
    margin: 140px auto 0;
    padding: 60px 0;
    background: #fbfaff;
}

.cta__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.cta__heading,
.cta__desc {
    margin-top: 30px;
    text-align: center;
}

.cta__btn {
    margin-top: 60px;
}

.cta__decor-left,
.cta__decor-mid,
.cta__decor-right {
    position: absolute;
}

.cta__decor-left {
    bottom: 0;
    left: 0;
}

.cta__decor-mid {
    left: 50%;
    translate: -50%;
    top: 0;
}

.cta__decor-right {
    top: 0;
    right: 0;
}

/* ====================Footer=============== */
.footer {
    margin: 50px auto 0;
    max-width: 1429px;
}

.footer-top__inner {
    max-width: 1330px;
    margin: 0 auto;
}

.footer-bottom__break {
    margin-top: 32px;
    width: 100%;
    height: 1px;
    background: rgba(12, 7, 32, 0.2);
}

.footer-bottom__content {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.footer-bottom__copyright,
.footer-bottom__conditions,
.footer-bottom__policy {
    color: rgba(82, 87, 113, 0.6);
    font-size: 1 0.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    letter-spacing: -0.03em;
}

.footer-bottom__copyright {
    margin-left: 129px;
}

.footer-bottom__content-right {
    margin-right: 147px;
}

.footer-bottom__content-right a:hover {
    text-decoration: underline;
}

.footer-bottom__policy {
    margin-right: 23px;
}

.footer-bottom__conditions {
    display: inline-flex;
    align-items: center;
    column-gap: 13px;
}

.footer-bottom__conditions::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgba(82, 87, 113, 0.6);
}
